@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:ital,wght@0,200;1,300;1,400&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #686565;
  overflow-x: hidden;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgba(250, 194, 203, 0.685);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 0px;
  position: relative;
  font-family: 'Oleo Script Swash Caps';
}

header h1 span{
  color: #fac4c4;
  text-shadow: 2px 2px 2px #000;
}

header button{
  background: none;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  left: 5px;
}

header button .img {
  background-color: none;
  width: 100%;
  height: 100%;
}

main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  width: 100%;
  background-color: #202020de;
}