.ContenedorInicio{
    height: 100%;
    width: 100vw;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}